<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
							http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
							http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
							http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:property-placeholder location="classpath:jdbc.properties"/>

	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="jdbcUrl" value="${jdbcUrl}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
	</bean>

	<bean id = "accountDao" class = "cn.tamilin.transaction.demo3.dao.AccountDaoImpl">
			<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id = "accountService" class = "cn.tamilin.transaction.demo3.service.AccountServicesImpl">
			<property name="accountDao" ref="accountDao" />
			<property name="transactionTemplate" ref = "transactionTemplate" ></property>
	</bean>

	<bean id = "transactionManager" class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref = "dataSource"/>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
